# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.pdb
*.egg-info/
*.egg

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Redis / cache files
*.rdb
*.dump

# VS Code / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# PyCharm
*.iml

# ENV / Secrets
env
*.env
envs
*.envs
